.delete{
    color: red;
}
img{
    width: 400;
    height: auto;
}
body{
    background-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header.header{
    width: 100%;
    background-color: gold;
}

label{
    width: 148px;
    display: inline-block;
}